
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gamechoose {
    display: flex;
    justify-content: center;
}
.score{
    gap: 2px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.score p{
    font-size: 33px;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: bold;
    color: goldenrod;
}
.yourscore input{
    width: 173px;
    outline: none;
    height: 175px;
    font-size: 100px;
    box-shadow: inset 1px 1px 40px rgba(0, 0, 0, 0.3);
    border: none;
    color: gray;
    text-align: center;
    border-radius: 17px;  
}
#winner{
    font-size: 46px;
    font-family: math;
    color: crimson;
}
.whowin{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.computerscore input{
    width: 173px;
    color: grey;
    height: 175px;
    outline: none;
    font-size: 100px;
    box-shadow: inset 1px 1px 40px rgba(0, 0, 0, 0.3);
    border: none;
    text-align: center;
    border-radius: 17px;  
}


.computerchoosed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
#choosed{
    font-size: 33px;
    font-weight: bold;
    color: dodgerblue;
}
#choosedbycomp{
    font-size: 33px;
    font-weight: bold;
    color: dodgerblue;
}


.choosedone{
    display: flex;
    height: 43px;
    justify-content: center;
}
.game img {
    width: 100%;
    max-width: 215px; 
    height: auto; 
}

button.game {
    border: none;
    border-radius: 50%;
    background-color: white;
}

@media (max-width: 600px) {
    .game img {
        max-width: 150px;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .game img {
        max-width: 200px;
    }
}
